.App {
  text-align: center;
}
h1 {
  display: center;
  border:1px solid #000000;
  background-color: #34477a;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}

h2 {
  display: center;
  border:1px solid #000000;
  background-color: #eee;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;

}

button {
  margin: 5px;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #000000;
  background-color: #eee;
  font-size: large;
  font-weight: lighter;
}

input {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000000;
  background-color: #34477a;
  font-size: large;
  font-weight: bold;
}
